<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="3600">
    <title>Prévision Météo -- {{nom}} ({{numDept}}{% if pays != "France" %} - {{pays}}{% endif %})</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="container-fluid text-light bg-dark">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-auto">
      <h1>Prévision Météo -- {{nom}} ({{numDept}}{% if pays != "France" %} - {{pays}}{% endif %})</h1>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">

    <!--First Column-->
    <div class="col-2">Accés fréquents:
      <ul>
        <li><a href="/">Géolocalisé</a></li>
        {% for f in frequents %}
          <li><a href="/{{f}}">{{f}}</a></li>
        {% endfor %}
    </ul>
    </div>
                
    <!--Main Column-->
    <div class="col-auto">
      <table class="table table-dark table-striped table-bordered table-sm table-responsive">
      <tbody>
      <tr>
      {% for t in titles %}
        <th>{{t}}</th>
      {% endfor %}
      </tr>

      {% for p in previsions %}
      <tr style="font-weight:bold;text-align:center;
            {% if "pluie" in p.description|lower %}
              color:Navy;
            {% elif "averse" in p.description|lower %}
              color:Navy;
            {% elif "soleil" in p.description|lower %}
              color:Yellow;
            {% else %}
              color:Azure;
            {% endif %}
      ">
        <td>{{p.date}}</td>
        <td>{{p.description}}</td>
        <td>{{p.temperatureMin}} - {{p.temperatureMax}}</td>
        <td></td>
        <td></td>
      </tr>
        {% for r in p.timeranges %}
        <tr style="text-align:right;">
          <td>{{r._timerange}}</td>
          <td>{{r.description}}</td>
          {% if r.temperature %}
            <td>{{r.temperature}}</td>
          {% endif %}
          {% if r.temperatureMin and r.temperatureMax %}
            <td>{{r.temperatureMin}} - {{r.temperatureMax}}</td>
          {% endif %}
          <td>{{r.vitesseVent}}</td>
          <td>{{r.probaPluie}}</td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
      </table>

    </div>
    
    <!--Last Column-->
    <div class="col-2">Liens utiles:
      <ul>
        <li><a href="https://meteofrance.com/" target="_blank">Météo France</a></li>
        <li><a href="https://openweathermap.org/" target="_blank">Open Weather Map</a></li>
      </ul>
    </div>
  </div>
</div>
</body>

</html>