<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Prévision Météo -- {{nom}} ({{numDept}} - {{pays}})</title>
    <style>
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;

     td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
    </style>
</head>

<body>

<h1 style="font-weight:bold;text-align:center;">Prévision Météo -- {{nom}} ({{numDept}} - {{pays}})</h1>
<table style="border-collapse: collapse; width: 54.3866%;" border="1">
<tbody>
<tr>
{% for t in titles %}
  <th style="width: 15%;"><strong>{{t}}</strong></th>
{% endfor %}
</tr>

{% for p in previsions %}
<tr style="font-weight:bold;text-align:center;
      {% if "pluie" in p.description|lower %}
        color:blue;
       {% elif "averse" in p.description|lower %}
        color:blue;
       {% elif "soleil" in p.description|lower %}
        color:orange;
       {% else %}
        color:green;
      {% endif %}
">
  <td style="width: 15%;">{{p.date}}</td>
  <td style="width: 15%;">{{p.description}}</td>
  <td style="width: 15%;">{{p.temperatureMin}} - {{p.temperatureMax}}</td>
  <td style="width: 15%;"></td>
  <td style="width: 15%;"></td>
</tr>
  {% for r in p.timeranges %}
  <tr style="text-align:right;">
    <td style="width: 15%;">{{r._timerange}}</td>
    <td style="width: 15%;">{{r.description}}</td>
    {% if r.temperature %}
      <td style="width: 15%;">{{r.temperature}}</td>
    {% endif %}
    {% if r.temperatureMin and r.temperatureMax %}
      <td style="width: 15%;">{{r.temperatureMin}} - {{r.temperatureMax}}</td>
    {% endif %}
    <td style="width: 15%;">{{r.vitesseVent}}</td>
    <td style="width: 15%;">{{r.probaPluie}}</td>
  </tr>
  {% endfor %}
{% endfor %}
</tbody>
</table>

</body>

</html>